.bottom__tab__bar {
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  .bottom__tab__bar {
    visibility: visible;
    background-color: #222222;
    bottom: 0;
    filter: drop-shadow(0 0 2.75rem #9d9d9d);
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }

  .bottom__tab__bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
    padding: 0px;
    color: #ffffff;
    list-style: none;
  }

  .bottom__tab__bar ul li + li {
    margin: 0px;
  }
}
