.header_root {
  /* align-items: center; */
  justify-content: space-between;
  display: flex;
  padding: 30px 30px;
}
.header_root .header_left {
  align-items: center;
  display: flex;
}
.header_root .header_left img {
  height: 48px;
  width: 48px;
  cursor: default;
}

.header_root .header_left .header_left_title {
  font-size: 24px;
  margin: 0px 0px 0px 0.75vw;
  cursor: pointer;
}

.header_root .header_right ul {
  align-items: center;
  display: flex;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
}

.header_root .header_right ul li + li {
  margin-left: 2.5vw;
}

@media screen and (max-width: 600px) {
  .header_root {
    padding: 20px 0px 10px 0px;
  }

  .header_root .header_left {
    display: block;
    text-align: center;
    width: 100vw;
  }

  .header_root .header_left .header_left_title {
    font-size: 26px;
    margin: 0px;
  }

  .header_root .header_right {
    background-color: #222222;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    filter: drop-shadow(0 0 2.75rem #9d9d9d);
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }

  .header_root .header_right ul {
    justify-content: space-around;
    margin: 20px 0px;
    padding: 0px;
  }

  .header_root .header_right ul li + li {
    margin: 0px;
  }
}
