.project_container {
  margin: auto;
  padding: 5vh 5vw;
  width: 80vw;
  cursor: default;
}

.project_container .title {
  text-align: center;
  font-size: 28px;
}

.project_contents {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5vh 0vw;
}

.project_content_container {
  align-items: center;
  display: block;
  justify-content: center;
  padding-top: 20px;
  width: 45%;
}

.project_content_container .title {
  padding-bottom: 2vh;
  font-size: 22px;
}

.project_images {
  width: 100%;
  position: relative;
}

.project_images img {
  object-fit: contain;
  width: 100%;
  max-height: 300px;
}

.project_watch_live {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
}
.project_watch_live a {
  text-decoration: none;
  color: black;
  text-shadow: 0px 0px 24px #000000, 0px 0px 24px #000000;
}

.project_decs {
  padding: 5px 0px 25px 0px;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .project_content_container {
    align-items: center;
    display: block;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
  }
  .project_content_container .title {
    padding-bottom: 2vh;
    font-size: 18px;
  }
  .project_images {
    width: 100%;
  }
}
