.skill_container {
  margin: auto;
  padding: 3vw 5vw;
  width: 70vw;
}

.skill_container .title {
  text-align: center;
  font-size: 28px;
}

.skill_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0vw;
}

.skill_content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill_content_container .image {
  min-width: 50px;
  min-height: 50px;
  width: 150px;
  height: 150px;
  margin: 30px 10px;
}
