.skill_container {
  margin: auto;
  padding: 3vw 5vw;
  width: 70vw;
  cursor: default;
}

.skill_container .title {
  text-align: center;
  font-size: 28px;
}

.skill_contents {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5vh 0vw;
}

.skill_content_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  width: 50%;
}

.skill_content_container .image {
  width: 150px;
  height: 150px;
  margin: 30px 10px;
}

.skill_content_container .description {
  display: flex;
  flex-direction: column;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .skill_container {
    margin: auto;
    padding: 1vh 2vw;
    width: 80vw;
  }

  .skill_container .title {
    text-align: center;
    font-size: 20px;
  }

  .skill_contents {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0vh 0vw;
  }

  .skill_content_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 50%;
  }

  .skill_content_container .image {
    width: 75px;
    height: 75px;
    margin: 20px 5px;
  }

  .skill_content_container .description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .skill_container {
    margin: auto;
    padding: 1vh 2vw;
    width: 80vw;
  }

  .skill_container .title {
    text-align: center;
    font-size: 20px;
  }

  .skill_contents {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0vh 0vw;
  }

  .skill_content_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
  }

  .skill_content_container .image {
    width: 75px;
    height: 75px;
    margin: 20px 5px;
  }

  .skill_content_container .description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
